<ion-header></ion-header>

<ion-content>
    <ion-card>
        <ion-card-title class="ion-text-center">Login</ion-card-title>
        <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
                <ion-item-group>
                    <ion-item lines="full">
                        <ion-input placeholder="Email" formControlName="email"></ion-input>
                    </ion-item>
                    <br />
                    <ion-item lines="full">
                        <ion-input placeholder="Password" formControlName="password"
                                   [type]="showPassword ? 'text': 'password'"></ion-input>
                        <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" size="large"
                                  (click)="togglePasswordFieldType()"></ion-icon>
                    </ion-item>
                    <br />
                </ion-item-group>
                <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
            </form>
            <ion-item class="ion-text-start" lines="none">
                <ion-label (click)="navigateToRegister()" color="primary">Register</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
