<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="11">
                <ion-row>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class cell-left-border">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>

                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>

                    <!-- numbers -->
                    <ion-col size="2" class="cell-class cell-class-number" style="margin-right: 0; padding: 0">
                        <ion-button size="small" fill="clear" expand="full"><span
                                style="color: #e0bb2e" class="numbers">4</span></ion-button>
                    </ion-col>
                    <ion-col size="2" class="cell-class cell-class-number" style="margin-right: 0; padding: 0">
                        <ion-button size="small" fill="clear" expand="full"><span
                                style="color: #e0bb2e" class="numbers">5</span></ion-button>
                    </ion-col>
                    <ion-col size="2" class="cell-class cell-class-number" style="margin-right: 0; padding: 0">
                        <ion-button size="small" fill="clear" expand="full"><span
                                style="color: #e0bb2e" class="numbers-english">Six</span></ion-button>
                    </ion-col>
                    <ion-col size="2" class="cell-class cell-class-number" style="margin-right: 0; padding: 0">
                        <ion-button size="small" fill="clear" expand="full"><span
                                style="color: #e0bb2e" class="numbers">8</span></ion-button>
                    </ion-col>
                    <ion-col size="2" class="cell-class cell-class-number" style="margin-right: 0; padding: 0">
                        <ion-button size="small" fill="clear" expand="full"><span
                                style="color: #e0bb2e" class="numbers-english">Nine</span></ion-button>
                    </ion-col>
                    <ion-col size="2" class="cell-class cell-class-number" style="margin-right: 0; padding: 0">
                        <ion-button size="small" fill="clear" expand="full"><span
                                style="color: #e0bb2e" class="numbers">10</span></ion-button>
                    </ion-col>

                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()"></ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>

                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()">
                                        <span style="color: #e0bb2e">PLACE</span>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()">
                                        <span style="color: #e0bb2e">PLACE</span>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()">
                                        <span style="color: #e0bb2e">PLACE</span>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()">
                                        <span style="color: #e0bb2e">PLACE</span>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()">
                                        <span style="color: #e0bb2e">PLACE</span>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col size="2" style="margin-right: 0; padding: 0">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full"
                                                (click)="onClick()">
                                        <span style="color: #e0bb2e">PLACE</span>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="6" class="cell-class">
                                    <ion-button size="small" fill="clear" expand="full" (click)="onClick()">
                                        <span style="color: #e0bb2e">ODDS</span></ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="1" class="cell-right-border ion-text-center">
                <br><br>
                <span style="color: #e0bb2e">DON'T</span><br>
                <span style="color: #e0bb2e">COME</span><br>
                <br>
                <span style="color: white">BAR</span>
                <ion-row class="ion-text-center">
                    <ion-img src="assets/Images/dices/2ddice.png" style="width: 50%; height: 50%"></ion-img>
                    <ion-img src="assets/Images/dices/2ddice.png" style="width: 50%; height: 50%"></ion-img>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <ion-row>
                    <ion-col size="6">
                        <ion-button color="warning">
                            OPEN HOP BETS
                        </ion-button>

                        <ion-item lines="none">
                            <span style="font-size: 55%; color: #e0bb2e">HARDWAYS</span>
                            <ion-toggle slot="end" name="kiwi" color="success" style="border: 0"
                                        checked></ion-toggle>
                        </ion-item>
                        <ion-row>
                            <ion-col size="6" class="ion-no-margin">
                                <ion-card style="padding: 0; margin: 0;" type="button">
                                    <ion-card-content class="ion-no-padding ion-no-margin">
                                        <ion-row class="ion-no-margin ion-no-padding">
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/2.jpg" alt="8For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/2.jpg" alt="8For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                    <ion-card-subtitle class="ion-text-center ion-no-margin ion-no-padding">
                                        <ion-label class="ion-text-center" style="color: white">8 FOR 1</ion-label>
                                    </ion-card-subtitle>
                                </ion-card>
                            </ion-col>
                            <ion-col size="6" class="ion-no-margin">
                                <ion-card style="padding: 0; margin: 0;" type="button">
                                    <ion-card-content class="ion-no-padding ion-no-margin">
                                        <ion-row class="ion-no-margin ion-no-padding">
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/5.jpg" alt="8For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/5.jpg" alt="8For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                    <ion-card-subtitle class="ion-text-center ion-no-margin ion-no-padding">
                                        <ion-label class="ion-text-center" style="color: white">8 FOR 1</ion-label>
                                    </ion-card-subtitle>
                                </ion-card>
                            </ion-col>
                            <ion-col size="6" class="ion-no-margin">
                                <ion-card style="padding: 0; margin: 0;" type="button">
                                    <ion-card-content class="ion-no-padding ion-no-margin">
                                        <ion-row class="ion-no-margin ion-no-padding">
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/3.jpg" alt="10For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/3.jpg" alt="10For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                    <ion-card-subtitle class="ion-text-center ion-no-margin ion-no-padding">
                                        <ion-label class="ion-text-center" style="color: white">10 FOR 1</ion-label>
                                    </ion-card-subtitle>
                                </ion-card>
                            </ion-col>
                            <ion-col size="6" class="ion-no-margin">
                                <ion-card style="padding: 0; margin: 0;" type="button">
                                    <ion-card-content class="ion-no-padding ion-no-margin">
                                        <ion-row class="ion-no-margin ion-no-padding">
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/4.jpg" alt="10For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/4.jpg" alt="10For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                    <ion-card-subtitle class="ion-text-center ion-no-margin ion-no-padding">
                                        <ion-label class="ion-text-center" style="color: white">10 FOR 1</ion-label>
                                    </ion-card-subtitle>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col size="6">
                        <ion-button fill="outline" class="ion-no-padding" style="margin-left: 10px;">
                            <span style="font-size: 55%; color: white">5 FOR 1</span>&nbsp;
                            <span style="color: indianred"><b>SEVEN</b></span>&nbsp;
                            <span style="font-size: 55%; color: white">5 FOR 1</span>
                        </ion-button>
                        <ion-row class="ion-text-center">
                            <ion-col size="6" class="ion-no-margin">
                                <ion-card style="padding: 0; margin: 0;" type="button">
                                    <ion-card-content class="ion-no-padding ion-no-margin">
                                        <ion-row class="ion-no-margin ion-no-padding">
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/2.jpg" alt="8For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/2.jpg" alt="8For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                    <ion-card-subtitle class="ion-text-center ion-no-margin ion-no-padding">
                                        <ion-label class="ion-text-center" style="color: white">31 FOR 1</ion-label>
                                    </ion-card-subtitle>
                                </ion-card>
                            </ion-col>
                            <ion-col size="6" class="ion-no-margin">
                                <ion-card style="padding: 0; margin: 0;" type="button">
                                    <ion-card-content class="ion-no-padding ion-no-margin">
                                        <ion-row class="ion-no-margin ion-no-padding">
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/5.jpg" alt="8For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/5.jpg" alt="8For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                    <ion-card-subtitle class="ion-text-center ion-no-margin ion-no-padding">
                                        <ion-label class="ion-text-center" style="color: white">31 FOR 1</ion-label>
                                    </ion-card-subtitle>
                                </ion-card>
                            </ion-col>
                            <ion-col size="6" class="ion-no-margin">
                                <ion-card style="padding: 0; margin: 0;" type="button">
                                    <ion-card-content class="ion-no-padding ion-no-margin">
                                        <ion-row class="ion-no-margin ion-no-padding">
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/3.jpg" alt="10For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/3.jpg" alt="10For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                    <ion-card-subtitle class="ion-text-center ion-no-margin ion-no-padding">
                                        <ion-label class="ion-text-center" style="color: white">16 FOR 1</ion-label>
                                    </ion-card-subtitle>
                                </ion-card>
                            </ion-col>
                            <ion-col size="6" class="ion-no-margin">
                                <ion-card style="padding: 0; margin: 0;" type="button">
                                    <ion-card-content class="ion-no-padding ion-no-margin">
                                        <ion-row class="ion-no-margin ion-no-padding">
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/4.jpg" alt="10For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                            <ion-col size="6" class="ion-no-margin ion-no-padding">
                                                <img src="assets/Images/dices/4.jpg" alt="10For1"
                                                     style="padding: 0; margin: 0">
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                    <ion-card-subtitle class="ion-text-center ion-no-margin ion-no-padding">
                                        <ion-label class="ion-text-center" style="color: white">16 FOR 1</ion-label>
                                    </ion-card-subtitle>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                        <ion-card class="ion-no-padding" style="margin-top: 0; margin-bottom: 0">
                            <ion-card-content style="padding: 0; margin: 0;" class="ion-text-center">
                                <ion-col size="4" style="padding: 0; margin: 0;"><span
                                        style="font-size: 70%; color: white">8 FOR 1</span>
                                </ion-col>
                                <ion-col size="4" style="padding: 0; margin: 0;">
                                    <ion-button fill="clear" style="font-size: 80%; color: lightcoral"
                                                class="ion-no-padding ion-no-margin">ANY<br>CRAPS
                                    </ion-button>
                                </ion-col>
                                <ion-col size="4" style="padding: 0; margin: 0;"><span
                                        style="font-size: 70%; color: white">8 FOR 1</span>&nbsp;
                                </ion-col>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>

                    <ion-col size="12" class="ion-no-padding ion-no-margin">
                        <ion-row>
                            <ion-col size="6" class="ion-no-padding ion-no-margin">
                                <ion-row>
                                    <ion-col offset="1" size="3" class="ion-no-padding ion-no-margin">
                                        <span style="font-size: 70%; color: white">BET</span>
                                    </ion-col>
                                    <ion-col offset="1" size="5">
                                        <ion-input class="ion-no-padding ion-no-margin"
                                                   style="font-size: 80%; background: white; color: black;"
                                                   placeholder="1000"></ion-input>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col size="6" class="ion-no-padding ion-no-margin">
                                <ion-row>
                                    <ion-col offset="1" size="5" class="ion-no-padding ion-no-margin">
                                        <span style="font-size: 70%; color: white">BANKROLL</span>
                                    </ion-col>
                                    <ion-col offset="1" size="5">
                                        <ion-input class="ion-no-padding ion-no-margin"
                                                   style="font-size: 80%; background: white; color: black;"
                                                   placeholder="1234"></ion-input>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col size="12" class="ion-no-padding ion-no-margin">
                        <ion-row>
                            <ion-col size="2" class="ion-no-padding ion-no-margin">
                                <ion-button class="bets_button ion-no-padding" color="danger" size="small">
                                    <small>GO TO<br>FULL<br>VIEW</small>
                                </ion-button>
                            </ion-col>
                            <ion-col size="2" class="ion-no-padding ion-no-margin">
                                <ion-button class="bets_button ion-no-padding" color="primary" size="small">
                                    <small>UNDO<br>LAST<br>MOVE</small>
                                </ion-button>
                            </ion-col>
                            <ion-col size="2" class="ion-no-padding ion-no-margin">
                                <ion-button class="bets_button ion-no-padding" color="primary" size="small">
                                    <small>REPEAT<br>LAST<br>MOVE</small>
                                </ion-button>
                            </ion-col>
                            <ion-col size="2" class="ion-no-padding ion-no-margin">
                                <ion-button class="bets_button ion-no-padding" color="primary" size="small">
                                    <small>PLACE<br>BETS<br>ON</small>
                                </ion-button>
                            </ion-col>
                            <ion-col size="2" class="ion-no-padding ion-no-margin">
                                <ion-button class="bets_button ion-no-padding" color="primary" size="small">
                                    <small>PLACE<br>BETS<br>OFF</small>
                                </ion-button>
                            </ion-col>
                            <ion-col size="2" class="ion-no-padding ion-no-margin">
                                <ion-button class="bets_button ion-no-padding" color="primary" size="small">
                                    <small>ALL<br>BETS<br>DOWN</small>
                                </ion-button>
                            </ion-col>
                        </ion-row>
<!--                        <ion-button class="bets_button" color="danger" size="small">-->
<!--                            <small>GO TO<br>FULL<br>VIEW</small>-->
<!--                        </ion-button>-->
<!--                        <ion-button class="bets_button" size="small">-->
<!--                            <small>UNDO<br>LAST<br>Move</small>-->
<!--                        </ion-button>-->
<!--                        <ion-button class="bets_button" size="small">-->
<!--                            <small>REPEAT<br>LAST<br>BET</small>-->
<!--                        </ion-button>-->
<!--                        <ion-button class="bets_button" size="small">-->
<!--                            <small>PLACE<br>BETS<br>ON</small>-->
<!--                        </ion-button>-->
<!--                        <ion-button class="bets_button" size="small">-->
<!--                            <small>PLACE<br>BETS<br>OFF</small>-->
<!--                        </ion-button>-->
<!--                        <ion-button class="bets_button" size="small">-->
<!--                            <small>ALL<br>BETS<br>DOWN</small>-->
<!--                        </ion-button>-->
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col size="7">
                <ion-col size="12" style="margin-right: 0; padding: 0">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12" class="cell-class cell-left-border">
                                <ion-button size="small" fill="clear" expand="full"><span
                                        style="color: #D93A18; font-size: 130%">COME</span></ion-button>
                            </ion-col>
                            <ion-col size="12" class="cell-class ion-no-padding ion-no-margin">
                                <ion-row>
                                    <ion-col size="2" class="ion-text-center">
                                        <span style="font-size: 50%; color: white">PAYS DOUBLE</span><br>
                                        <span class="number-circle" style="left: 50%">2</span>
                                    </ion-col>
                                    <ion-col class="ion-text-center">
                                        <span style="color: #e0bb2e">3</span><br>
                                    </ion-col>
                                    <ion-col class="ion-text-center">
                                        <span style="color: #e0bb2e">4</span><br>
                                    </ion-col>
                                    <ion-col class="ion-text-center">
                                        <span style="color: #e0bb2e">9</span><br>
                                        <span style="color: white">FIELD</span>
                                    </ion-col>
                                    <ion-col class="ion-text-center">
                                        <span style="color: #e0bb2e">10</span><br>
                                    </ion-col>
                                    <ion-col class="ion-text-center">
                                        <span style="color: #e0bb2e">11</span><br>
                                    </ion-col>
                                    <ion-col size="2" class="ion-text-center">
                                        <span style="font-size: 50%; color: white">PAYS DOUBLE</span><br>
                                        <span class="number-circle" style="left: 50%">12</span>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col size="2" class="ion-text-center cell-class"><span
                                    style="color: #e0bb2e; font-size: 80%">ODDS</span></ion-col>
                            <ion-col size="10" class="ion-text-center cell-class"><span style="color: #e0bb2e;">DON'T PASS</span><br><span>&nbsp;</span>
                            </ion-col>
                            <ion-col size="2" class="ion-text-center cell-class"><span
                                    style="color: #e0bb2e; font-size: 80%">ODDS</span></ion-col>
                            <ion-col size="10" class="ion-text-center cell-class">
                                <span style="color: lightyellow">PASSLINE</span><br><span>&nbsp;</span></ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <ion-grid>
                    <ion-row>
                        <ion-col size="10" class="ion-no-padding ion-no-margin">
                            <ion-row>
                                <ion-card class="coins ion-text-center" type="button">
                                    <ion-card-content class="ion-no-padding ion-no-margin">
                                        <img src="assets/Images/tokens/coin_1.png" alt="$1"
                                             style="padding: 0; margin: 0; width: 15%; height: 15%">
                                        <img src="assets/Images/tokens/coin_5.png" alt="$1"
                                             style="padding: 0; margin: 0; width: 15%; height: 15%">
                                        <img src="assets/Images/tokens/coin_25.png" alt="$1"
                                             style="padding: 0; margin: 0; width: 15%; height: 15%">
                                        <img src="assets/Images/tokens/coin_100.png" alt="$1"
                                             style="padding: 0; margin: 0; width: 15%; height: 15%">
                                        <img src="assets/Images/tokens/coin_500.png" alt="$1"
                                             style="padding: 0; margin: 0; width: 15%; height: 15%">
                                        <img src="assets/Images/tokens/coin_1k.png" alt="$1"
                                             style="padding: 0; margin: 0; width: 15%; height: 15%">
                                    </ion-card-content>
                                </ion-card>
                            </ion-row>
                        </ion-col>
                        <ion-col size="2" class="ion-text-center ion-no-margin ion-no-padding">
                            <span class="green" style="font-size: 250%; margin-top: 10px;">8</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
